<!DOCTYPE html>
<html>

<head th:include="fragments/header :: header">
</head>

<body>
    <div th:include="fragments/navbar :: navbar"></div>
    <!--- Cards for holding facts -->
    <div class="container is-max-widescreen">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://ec.europa.eu/jrc/sites/default/files/styles/normal-responsive/public/food_waste_by_victoria_m_adobestock_290796363.jpeg?itok=iORhy85_" alt="Placebo SEO magi">
                  </figure>
                </div>
                <div class="card-content">
              
                  <div class="content">
                    Vidste du at madspild i den danske servicesektor, udgør hele 227.000 tons om året? 
                    Endnu værre udgør madspild hos danske husholdninger hele 261.000 ton om året! 
                    
                    
                  </div>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://i.pinimg.com/originals/42/de/7c/42de7cbe3ff10d84b2a281d4172da65c.png" alt="Er det en fugl? Er det et fly? NEJ DET SEO">
                  </figure>
                </div>
                <div class="card-content">
              
                  <div class="content">
                    11,3% af verdens befolkning lever med hungersnød, og går ekstremt underernæret på en daglig basis. 
                    Dette sker på trods af at udbuddet af mad er nok til alle mennesker.
                  </div>
                </div>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://i.cbc.ca/1.4804388.1565368746!/fileImage/httpImage/homepagethenationalfoodwaste.jpg" alt="Placebo SEO magi">
                  </figure>
                </div>
                <div class="card-content">
              
                  <div class="content">
                    Detailhandlere står for ca. 72% af servicesektorens madspild.
                    Dette svarer til 151.000 ton om året hos specialforretninger og 12.000 ton om året for ikke-specialiserede forretninger.
                  </div>
                </div>
              </div>
        </div>
    </div>

    <!---Gør en forskel sektion-->
    <section class="section">
        <h1 class="title">GØR EN FORSKEL</h1>
        <h2 class="subtitle">
          Uanset hvad folk fortæller dig - ord og ideer kan ændre verden! - Robin Williams
        </h2>
      </section>
      
</div>
</body>
<footer th:include="fragments/footer :: footer">
</footer>

</html>