<!DOCTYPE html>
<html>
    <head th:include="fragments/header :: header">
    </head>
    <body>
        <div th:include="fragments/navbar :: navbar"></div>
        <section class="hero is-medium is-link">
            <div class="hero-body">
               

              <div class="card-image">

              <p class="title">
                MADSPILD 
              </p>
              <p class="subtitle">
                Hjælp Danmark mod madspild
              </p>

            </div>
          </section>
    </body>
    
</html>