<head th:fragment="header">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <title>WishList Inc.</title>
    <style>.header-image {
        background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/newscms/2021_13/1696133/best-gifts-kids-2x1-210331.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #8B008B;
    } .custom-color{
        background-color: #FFA500;
    }
</style>
</head>