<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head th:include="fragments/header :: header">
</head>
<body>
<div th:include="fragments/navbar :: navbar"></div>

<main class="container content box">

    <h1 class="title"> Opret en ønskeseddel </h1>
    <form method="post" action="#">
        <div class="field">
            <label class="label" for="name"> Navn</label>
            <input type="text" name="name" id="name" class="input" placeholder= "Indtast navn på ønskeseddel" required>
        </div>
        <div class="field">
            <label class="label" for="description"> Description</label>
            <input type="text" name="description" id="description" class="input" placeholder= "Indtast beskrivelse på denne ønskeseddel" required>
        </div>
        <button class="button is-primary">Opret</button>
        
    </form>
</main>

</body>
<footer th:include="fragments/footer :: footer">
</footer>
</html>