<!DOCTYPE html>
<html>

<head th:include="fragments/header :: header">
</head>

<body>
<div th:include="fragments/navbar :: navbar"></div>



<div>
    <section class="section" th:each="wishlist : ${Wishlist}">

        <h1 class="title" th:text = "${wishlist.name}">

            ${wishlist.name}</h1>

        <h2 class="subtitle" th:text = "${wishlist.description}">

            ${wishlist.description}

        </h2>
    </section>
</div>
</div>
<section class="section">
    <div class="card" th:each="item : ${list}" $>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4" id="title" th:text = "${item.name}"> </p>
                    <p class="subtitle is-5" id ="subtitle" th:text="${item.price}"></p>
                </div>
                <div class="media-right">
                    <a th:href="${item.link}" target="_blank">
                        <button class="button">Link</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<footer th:include="fragments/footer :: footer">
</footer>

</html>